doctype html
html
    head
        title Testons Webpack
    body
        div
            span Hello World
        //div(layout="column")
            md-toolbar(md-scroll-shrink)
                .md-toolbar-tools
                    h3
                        span Webpack Angular - Starter (Step 1)
        //div(ng-view)
        //| !{app.bundle}
