doctype html
html
    head
        title Testons Webpack
    body
        div(ng-controller="HelloWorldController as helloWorld")
            div(layout="column")
                md-toolbar(md-scroll-shrink)
                    .md-toolbar-tools
                        h3
                            span {{scopedData}}

